* {
    margin: 0;
    padding: 0;
    }
    
:root{
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #fff;
    --box-shadow: 0 8px 30px rgba(26, 15, 15, 0.3);
}    

.container{
    background: transparent;
}


body{
    color: var(--body); 
}


.hero{
    background-image:url(https://images.unsplash.com/photo-1573495783026-9a628c32fb3e?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
    z-index: -2;
}



.hero::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(21,20,70,0.6);
    z-index:-1;

}
.col-md-5{
    color: grey;
    font-size: 1.1rem;
    font-weight: 400;
}

section{
    padding-top: 120px;
    padding-bottom: 120px;
    color: var(--dark);
}

section .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 60px;
}


.card-effect{
    box-shadow: var(--box-shadow);
    background-color: #fff;
    padding: 30px;
    transition: all 0.35s ease;
}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(10px);
    
}


.iconbox{
    width:54px;
    height:54px;
    margin-bottom: 5px;
}

.col-lg-4{
    display:flex;
    flex-direction: row;
}

.card1 img{
    width:250px;
    height:200px;
    
}

.row1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 8rem;

}
.col-lg-4{
    padding: 20px 50px 50px 0px;
}


.lower{
    background-image:url(https://images.unsplash.com/photo-1534665482403-a909d0d97c67?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: -2;
}



.lower::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(21,20,70,0.6);
    z-index:-1;

}

.lower .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower .col-md-5{
    color: #fff;
}

.blog-post img{
    height: 230px;
    width: 350px;
}