* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
:root{
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #fff;
    --box-shadow: 0 8px 30px rgba(26, 15, 15, 0.2);
}    

.container{
    background: transparent;
}


body{
    color: var(--body); 
}


.hero{
    background-image:url(https://images.unsplash.com/photo-1573495783026-9a628c32fb3e?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
    z-index: -2;
}



.hero::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(21,20,70,0.6);
    z-index:-1;

}
.col-md-5{
    color: grey;
    font-size: 1.1rem;
    font-weight: 400;
}

section{
    padding-top: 120px;
    padding-bottom: 120px;
    color: var(--dark);
}

section .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 60px;
}


.card-effect{
    box-shadow: var(--box-shadow);
    background-color: #fff;
    padding: 30px;
    transition: all 0.35s ease;
}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(10px);
    
}


.iconbox{
    width:54px;
    height:54px;
    margin-bottom: 5px;
}

.col-lg-4{
    display:flex;
    flex-direction: row;
}

.card1 img{
    width:250px;
    height:200px;
    
}

.row1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 8rem;

}
.col-lg-4{
    padding: 20px 50px 50px 0px;
}


.lower{
    background-image:url(https://images.unsplash.com/photo-1534665482403-a909d0d97c67?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: -2;
}



.lower::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(21,20,70,0.6);
    z-index:-1;

}

.lower .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower .col-md-5{
    color: #fff;
}

.feature-post img{
    height: 230px;
    width: 350px;
}

.footer{
	background-color: #fff;
}
.footer-col{
   width: 25%;
   padding: 10px 10px;
   padding-bottom: 100px;
}
.footer-col img{
    margin-top: -45px;
}

.footer-col h4{
	font-size: 16px;
	color: grey;
	text-transform: capitalize;
	margin-bottom: 35px;
    padding-left: 2rem;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:30px;
	bottom: -10px;
	background-color: var(--dark);
    opacity: 25%;
	height: 2px;
	box-sizing: border-box;
	width: 220px;
}
.footer-col ul:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul a{
	font-size: 16px;
	text-transform: capitalize;
	color: rgb(44, 39, 39);
	text-decoration: none;
	font-weight: 650;
	color: #000;
	display:block;
    
	transition: all 0.3s ease;
}
.footer-col ul a:hover{
	color: rgb(44, 39, 39);
	padding-left: 8px;
}
.footer-col .social-links{
    padding-left: 2.4em;
}

.footer img{
    width: 180px;
    height:80px;
    margin-top:-8px;
}
.footer p{
    color: rgb(65, 62, 62);
    padding: 15px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgb(0, 95, 219);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #fff;
	transition: all 0.5s ease;
    box-shadow: var(--box-shadow);
    
    
}
.footer-col .social-links a:hover{
	color: rgb(0, 95, 219);
	background-color: #fff;
}

.bottom-copyright{
    background: rgb(228, 226, 226);
}

.bottom-copyright p{
    font-size: 0.7rem;
    margin-left: 80px;

}
.flexrow{
    padding-top: 20px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.flexrow .pp{
    display: inline-flex;
    margin: 25px 0 0 80px;
}
.flexrow .tu{
    display: inline-flex;
    margin: 25px 0 0 -12px;
}
.flexrow .rr{
    display: inline-flex;
    margin: 25px 0 0 -12px;
}
.flexrow p{
    font-size: 0.9rem;
    font-weight: 650;
}

.flexcol{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flexcol p{
    color:rgb(73, 72, 72);
    font-weight: 400;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

